<body class="">

  <div class="col-xs-offset-3 col-xs-6 oxygen" style="padding-top: 1em;">

  	<h2 class="centerText">Activity Log</h2>
  	
  	<div class="log-field">

  		<table>
			<% @note.order("created_at ASC").each do |l|%>
				<tr>

					<td class="table-padding"><%= l[:message] %></td>

				</tr>
			<% end %>
		</table>

	</div>

  </div>

</body>


