
<body class="">


  <section class="page-container section-padding">
    <div class="col-xs-2"></div>
    <div class="subhead centerText col-xs-8 quicksand">
      <h1>SHARE A RIDE WITH ME</h4>
      <p class="small-header-padding">
      	Enter your information for an Uber carpool and hit enter.
      </p>

    <%= form_tag("/new_ride", method: "post", class: "input-field") do %>
      	<div class="input-padding">
      		<div class="input-border">
 	     		<input id="phone_number" name="phone_number" class="input-text centerText" type="text"  placeholder="Phone Number"><br>
 	     	</div>
 	    </div>
 	    <div class="input-padding">
      		<div class="input-border">
 	     		<input id="start_location" name="start_location" class="input-text centerText" type="text" placeholder="Current Location"><br>
 	     	</div>
 	    </div>

 	    <div class="input-padding">
      		<div class="input-border">
 	     		<input id="end_location" name="end_location" class="input-text centerText" type="text" placeholder="Destination"><br>
 	     	</div>
 	    </div>
      <div style="position: absolute; left: -9999px">
        <%= submit_tag %>
      </div> 	    
 	<% end %>
    <div class="col-xs-2"></div>
  </section>
</body>
