<body>


  <section class="centerText success-field oxygen">
  	<div class="col-xs-offset-3 col-xs-6">
  		<h2>Your Uber is on its way!</h2>
  		<h3 class="hack-padding">You have also managed to save
  			<h1 style="font-size: 40pt;"> <%= number_to_currency(params[:saved_cost_new_user], :unit => "$") %> </h1>
      <h3 class="hack-padding">Thanks to you, your ride-buddy has saved
        <h1 style="font-size: 40pt;"> <%= number_to_currency(params[:saved_cost_old_user], :unit => "$") %> </h1>
  		</h3>
      <h3 class="hack-padding">You also helped Uber develop by increasing their revenue by
        <h1 style="font-size: 40pt;"><%= number_to_currency(params[:uber_profit], :unit => "$") %> </h1>

      <h3 class="hack-padding">Share Uber was able to provide this service by also saving <%#= number_to_currency(params[:unsaved_cost], unit: "%"]) %></h3>

  		<h3 class="hack-padding">
	  		
				<%= link_to "Click here Once You Arrive", {controller: "ride", action: "dropoff", driver_id: @driver.id} %>
			
		</h3>
  	</div>
  	
  </section>

	

</body>
