h1, h2, h3, h4, h5, p {
	color: #fff;
	
}
h1 {
	font-size: 37px;
}
h2 {
	font-size: 30pt;
	font-style: helvetica;
}
h3 {
	font-size: 20pt;
}
h4 {
	font-size: 20pt;
}


nav {
	height: 80px;
	border-bottom: solid 1px #fff;
}
 
.uber-title {
	padding: 20px 20px 20px 20px;
}

.section-padding {
	padding-top: 1em;
}