h1, h2, h3, h4, h5, p {
	color: #fff;
}
h1 {
	font-size: 37px;
	font-weight: 700;
}
h2 {
	font-size: 30pt;
	font-style: helvetica;
}
h3 {
	font-size: 20pt;
}
h4 {
	font-size: 20pt;
}

a {
	color: #fff !important;
}
a:hover {
	border-bottom: 0px !important;
}

body {
	background: #070716 url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@1x.gif) 
}

.uber-logo {
	background: url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png)
}

nav {
	height: 80px;
	border-bottom: solid 1px #adadad;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-button-field {
	padding-top: 30px;
}
 
.uber-title {
	padding: 23px 20px 20px 20px;
}

.section-padding {
	padding-top: 3em;
}

.small-header-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}




.input-field {
	padding-top: 8em;
}
.input-padding {
	padding-top: 1em;
}
.input-border {
	padding: 5px;
	background-color: rgba(30,186,214,.5);
	display: inline-block;
	border-radius: 2px;
}
.input-text {
	border: 1px solid #1fbad6;
	padding: 16px 30px 14px 30px;
	border-radius: 3px;
	font-size: 16pt;
}





.log-field {
	background: rgba(255, 255, 255, 0.8);
	margin-top: 3em;
	padding: 2em;
	max-height: 500px;
	overflow-y: scroll;
	border-radius: 5px;
}





.success-field {
	padding-top: 11em;
}
.hack-padding {
	padding-top: 4em;
}



















