<body class="">
  <nav>
    <div class="col-xs-2">
      <!-- placeholder -->
    </div>
    <h2 class="uber-title centerText col-xs-8 syncopate">UBER SHARE</h2>
    <div class="uber-logo"></div>
   <div class="col-xs-2">

      <div class="col-xs-2"></div>

      <div class="col-xs-5 nav-button-field">
      	<p class="clickable oxygen">
      		<a href="https://github.com/jiggoha/sharearidewithme" target="_blank">About</a>
      	</p>
      </div>

      <div class="col-xs-offset-1 col-xs-3 nav-button-field">
      	<p class="clickable oxygen">Logs</p>
      </div>

    </div>
  </nav>

  	
  <div class="col-xs-offset-3 col-xs-6 oxygen" style="padding-top: 1em;">
  	<h2 class="centerText">Activity Log</h2>
  	<div class="log-field">
		<% @note.order("created_at ASC").each do |l|%>
			<%= l[:tag] %><br>
			<%= l[:message] %><br><br>
		<% end %>
	</div>
  </div>

</body>


